[Unit]
Description = URONode Server
Requires = uronode.socket
After=syslog.target network.target

[Service]
Type=oneshot
ExecStartPre=systemctl start uronode.socket
ExecStart=/usr/local/sbin/uronode
ExecStartPost=systemctl restart uronode.socket
StandardInput=socket
Sockets=uronode.socket

[Install]
Also = uronode.socket
WantedBy = multi-user.target
WantedBy = network.target
